@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Sora", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
